* {
  margin: 0;
  padding: 0;
}

.main {
  background-color: crimson;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  background-color: darkorchid;
  height: 100vh;
}

nav,
ul,
li a {
  color: darkseagreen;
  display: inline-block;
  list-style: none;
}

nav,
ul,
li {
  display: inline-block;
  list-style: none;
}
