body {
  background-color: rgb(2, 21, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  color: aquamarine;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgb(12, 13, 15);
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: grid;
}
